/caml2toscaTemplates.asm
/caml2toscaTemplates.emftvm
/caml2toscaTypes.asm
/caml2toscaTypes.emftvm
/caml2toscaUtil.asm
/caml2toscaUtil.emftvm
/caml2toscaPropertiesDefinitions.asm
/caml2toscaPropertiesDefinitions.emftvm
